/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb
- #dbff39
- #74c9f1
- #fb4040

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/
body {
    background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Copperplate, sans-serif;
}

h1 {
    width: 50%;
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(to right, lightblue, red);
    color: purple;
    text-decoration: underline;
    border-radius: 20px;
    padding: 10px;
    margin: 10px auto; 
}


#jordans-1, #jordans-2 {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}


#jordans-1 {
    background-color: aqua;
    height: 400px;
    width: 600px;
}

#jordans-2 {
    height: 400px;
    width: 600px;
}

#jordans-1-desc, #jordans-2-desc {
    background-color: rgb(116, 201, 241);
    border: 2px solid orange;
    border-radius: 10px;
    padding: 1em;
    width: 600px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

#row1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 25%; 
    margin-bottom: 30px;
}

#row2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-right: 25%; 
    margin-bottom: 30px;
}
